language: scala
sudo: false
cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt/launchers
script:
- sbt ++$TRAVIS_SCALA_VERSION scalafmtTest test
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
scala:
- 2.11.11
matrix:
  include:
  - scala: 2.12.2
    jdk: oraclejdk8
notifications:
  slack:
    secure: B8vQZRzPEa6bOQv+Yb2nsugVBr57ht3eWsmFrzDqkh2NqP3Fcpbs5RY/cyD7XycTzQOVv/Cl8MpyjSR+9lv0/oeAr63skoA8ws4+5UKjv+dC/vt1wp0BA5eZf3s7YgfnEi93Aqy2cBVVXbvXs/J4y0EjFguJGtkYzkOHbWJCe/bbui7F2RI7RCQsVFylxwOQ1kqBQQ8sRwYk3vLo8SXxAyJNK63/WlGIRd/ROuriMMhBi5DI905AKHD679rEU0lLUo03pPkRmTs5CSe6nuZFOUQ8IniOWYHwWciVzcMrsYOnl5m34jMRtP8PvmJLoBa+vptC/rvaHYlS+idqFoDmuMFM7nnIe1xjxY2XRCYvyqrSF9+ziYfJuT4ICGlDkesdwaDiOaNR/jbKT3NMgYgBLfP1LwpLhjz8crojmUyYHI1kBEOfL/HrcAzCkp1BXkW29GVJ/jd4GKShujfwy+z679yibq4VDOupCT1LfHKiwJk7TgBxAGkOl+eA73yPl1IkpX8G+b6Omla6SHm3Bu5NBYupHYCZwaJcpYswMTAu8aapWswuG1on2VafOXLANL87CgJoCjiUV73M/xPAC6YIcZqw7jWMDQC4NNqcQYADYLrxMsQMlo8HmlsGbCN00dDF9kt7k586NFZAN20v5TGNynJpLjPg7BARnmrfkVrfesw=
