name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 15 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      matrix:
        include:
          - java: 17
          - java: 25
    steps:
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@c5ca79321d170b8a18c288d9cadc2a6037166d0f # v8.0.0
    - run: sbt -v "+ scalafmtCheckAll ; scalafmtSbtCheck ; + test"
